</main>
<footer class="bg-gray-800 text-white py-8 px-16">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-4">

    </div>
    <div class="container mx-auto text-center text-gray-400 py-8">
        <p>&copy; <%= new Date().getFullYear() %> Pedro Garcia. Todos os direitos reservados.</p>
    </div>
</footer>

</body>
<script>
const menuButton = document.getElementById('menu-button');
const mobileMenu = document.getElementById('mobile-menu');
const menuLinks = document.querySelectorAll('.menu-link');

menuButton.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
});

menuLinks.forEach(link => {
    link.addEventListener('click', () => {
        mobileMenu.classList.add('hidden');
    });
});
</script>

</html>